*{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
html, body{
	background-color: #f0f0f0;
}

/*mensajes*/
.close, button.close > span {
	font-size: 21px!important;
}

/*header*/
.navbar-brand{
	background-image: url('/img/logo.min.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 125px;
	height: 55px;
}
/*colores del carrito*/
.cart-movil{
	margin-bottom: 0;
	margin-right: 2px;
	padding: 4px;
	color: #777;
	border: 0;
}

/*colores del nuevo menu*/
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #33918e;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #FFFFFF;
	background-color: #33918e;
}
/*fin colores del nuevo menu*/
.badge-cart{
	position: relative;
	top: -15px;
	left: -5px;
	background-color: #E74C3C;
	color: white;
}
ul.navbar-right li.dropdown > a{
	/*padding: 20px;*/
}
ul.navbar-right li > form{
	margin-top: 13px;
}
/*search*/
.form-rounded{
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/*sidebar*/
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	z-index: 2;
	color: #fff;
	background-color: #288088;
	border-color: #33918e;
}
a.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
	color: #288088;
	background-color: #fff;
}

/*content*/
.bg-white{
	background-color: white;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #ddd;
}
hr{
	margin: 0;
}
