*{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
html, body{
	background-color: #f0f0f0;
}

/*header*/
.navbar-brand{
	background-image: url('/img/logo.min.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 125px;
	height: 55px;
}
.badge-cart{
	position: relative;
	top: -15px;
	left: -5px;
	background-color: #E74C3C;
	color: white;
}

/*search*/
.form-rounded{
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/*sidebar*/
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	z-index: 2;
	color: #fff;
	background-color: #288088;
	border-color: #33918e;
}